# TAQ midpoint price data

En la implementacion del midpoint price, divido la tarea en dos partes. Primero obtengo los resultados para todos los eventos en un dia y luego con otra funcion los calculo para todos los segundos en el dia.

### midpoint price data por evento por dia

Esta funcion no tiene problema en cuanto al tiempo de ejecucion. Las operaciones que realiza son muy basicas. Sin embargo, mi implementacion anterior usando solo `numpy` se demoraba 0,020s por dia y ahora se demora 0.1s por dia utilizando `pandas`.

La implementacion con `numpy` la voy a nombrar `taq_midpoint_event_data_numpy` y la implementacion con `pandas` la voy a nombrar `taq_midpoint_event_data_pandas`.

En este caso no entiendo por que con `pandas` es mas lento. La unica diferencia que hay es que la funcion de `numpy` lee un archivo `pickle` con una tupla con arrays mientras que la funcion `pandas` lee un archivo `hdf5` con un `DataFrame` de `pandas`.

In [1]:
# Modules

import numpy as np
import pandas as pd
import pickle

In [2]:
def taq_midpoint_event_data_numpy(ticker, year, month, day):
    """Computes the midpoint price of every event.

    Using the dayly TAQ data computes the midpoint price of every event in a
    day.
    For further calculations, the function returns the values for the time
    range from 9h40 to 15h50.

    :param ticker: string of the abbreviation of the stock to be analized
     (i.e. 'AAPL').
    :param year: string of the year to be analized (i.e '2008').
    :param month: string of the month to be analized (i.e '07').
    :param day: string of the day to be analized (i.e '07').
    :return: tuple -- The function returns a tuple with numpy arrays.
    """

    # Load data
    # TAQ data gives directly the quotes data in every second that there is
    # a change in the quotes
    time_q_, bid_q_, ask_q_, _, _ = pickle.load(open(
        f'pickle_dayly_data_{year}/TAQ_{ticker}_quotes_{year}{month}{day}.pickle', 'rb'))

    # Some files are corrupted, so there are some zero values that
    # does not have sense
    condition_1 = ask_q_ != 0.
    time_q = time_q_[condition_1]
    bid_q = bid_q_[condition_1]
    ask_q = ask_q_[condition_1]

    assert len(bid_q) == len(ask_q)

    midpoint = (bid_q + ask_q) / 2
    spread = ask_q - bid_q

    return (time_q, bid_q, ask_q, midpoint, spread)

In [3]:
def taq_midpoint_event_data_pandas(ticker, date):
    """Computes the midpoint price of every event.

    Using the dayly TAQ data computes the midpoint price of every event in a
    day.
    For further calculations, the function returns the values for the time
    range from 9h40 to 15h50.

    :param ticker: string of the abbreviation of the stock to be analized
     (i.e. 'AAPL').
    :param year: string of the year to be analized (i.e '2008').
    :param month: string of the month to be analized (i.e '07').
    :param day: string of the day to be analized (i.e '07').
    :return: tuple -- The function returns a tuple with numpy arrays.
    """

    date_sep = date.split('-')
    year = date_sep[0]
    month = date_sep[1]
    day = date_sep[2]

    # Load data
    # TAQ data gives directly the quotes data in every second that there is
    # a change in the quotes
    data_quotes_event = pd.read_hdf(
        f'hdf5_dayly_data_{year}/taq_{ticker}_quotes_{date}.h5')

    # Some files are corrupted, so there are some zero values that
    # does not have sense
    data_quotes_event = data_quotes_event[data_quotes_event['Ask'] != 0]

    data_quotes_event['Midpoint'] = (data_quotes_event['Bid']
                                     + data_quotes_event['Ask']) / 2
    data_quotes_event['Spread'] = data_quotes_event['Ask'] \
        - data_quotes_event['Bid']

    return data_quotes_event

In [4]:
ticker = 'AAPL'
year = '2008'
month = '01'
day = '02'
date = f'{year}-{month}-{day}'

In [5]:
%%timeit
taq_midpoint_event_data_numpy(ticker, year, month, day)

33 ms ± 20.6 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [6]:
%%timeit
taq_midpoint_event_data_pandas(ticker, date)

1.86 s ± 8.58 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

### midpoint price data por segundo por dia

Los datos obtenidos por la anterior funcion, dan los midpoint prices para cada evento. La idea con la siguiente funcion es obtener un punto valor de midpoint price por segundo en cada dia. Dado que no todos los segundos tienen necesariamente un valor de midpoint price, se da a los segundo sin precio el valor del segundo anterior.

La implementacion con `numpy` la voy a nombrar `taq_midpoint_time_data_numpy` y la implementacion con `pandas` la voy a nombrar `taq_midpoint_time_data_pandas`.

En este caso, la funcion se demora mucho en el paso en el que tiene que hacer la busqueda de los valores de cada segundo.

In [7]:
def taq_midpoint_time_data_numpy(ticker, date):
    """Computes the midpoint price of every second.

    Using the taq_midpoint_event_data function computes the midpoint price of
    every second. To fill the time spaces when nothing happens I replicate the
    last value calculated until a change in the price happens.

    :param ticker: string of the abbreviation of the stock to be analized
     (i.e. 'AAPL').
    :param date: string with the date of the data to be extracted
     (i.e. '2008-01-02').
    :return: numpy array.
    """

    date_sep = date.split('-')

    year = date_sep[0]
    month = date_sep[1]
    day = date_sep[2]

    function_name = taq_midpoint_time_data_numpy.__name__

    try:
        # Calculate the values of the midpoint price for all the events
        (time_q, bid_q, ask_q,
         midpoint, spread) = taq_midpoint_event_data_numpy(ticker, year, month, day)

        # 34800 s = 9h40 - 57000 s = 15h50
        # Reproducing S. Wang values. In her results the time interval for the
        # midpoint is [34800, 56999]
        full_time = np.array(range(34800, 57000))

        # As there can be several values for the same second, we use the
        # last value of each second in the full time array as it behaves
        # quiet equal as the original input

        midpoint_last_val = 0. * full_time
        midpoint_last_val[-1] = midpoint[0]

        ask_last_val = 0. * full_time
        ask_last_val[-1] = ask_q[0]

        bid_last_val = 0. * full_time
        bid_last_val[-1] = bid_q[0]

        spread_last_val = 0. * full_time
        spread_last_val[-1] = spread[0]

        for t_idx, t_val in enumerate(full_time):

            condition = time_q == t_val

            if (np.sum(condition)):

                midpoint_last_val[t_idx] = midpoint[condition][-1]
                ask_last_val[t_idx] = ask_q[condition][-1]
                bid_last_val[t_idx] = bid_q[condition][-1]
                spread_last_val[t_idx] = spread[condition][-1]

            else:

                midpoint_last_val[t_idx] = midpoint_last_val[t_idx - 1]
                ask_last_val[t_idx] = ask_last_val[t_idx - 1]
                bid_last_val[t_idx] = bid_last_val[t_idx - 1]
                spread_last_val[t_idx] = spread_last_val[t_idx - 1]

        # There should not be 0 values in the midpoint array
        assert not np.sum(midpoint_last_val == 0)

        return midpoint_last_val

    except FileNotFoundError as e:
            print('No data')
            print(e)
            print()
            return None

In [8]:
def taq_midpoint_time_data_pandas(ticker, date):
    """Computes the midpoint price of every second.

    Using the taq_midpoint_event_data function computes the midpoint price of
    every second. To fill the time spaces when nothing happens I replicate the
    last value calculated until a change in the price happens.

    :param ticker: string of the abbreviation of the stock to be analized
     (i.e. 'AAPL').
    :param date: string with the date of the data to be extracted
     (i.e. '2008-01-02').
    :return: numpy array.
    """

    date_sep = date.split('-')

    year = date_sep[0]
    month = date_sep[1]
    day = date_sep[2]

    function_name = taq_midpoint_time_data_pandas.__name__

    try:
        # Calculate the values of the midpoint price for all the events
        data_quotes_event = taq_midpoint_event_data_pandas(ticker, date)

        # 34800 s = 9h40 - 57000 s = 15h50
        # Reproducing S. Wang values. In her results the time interval for the
        # midpoint is [34800, 56999]
        full_time = np.array(range(34800, 57000))

        # As there can be several values for the same second, we use the
        # last value of each second in the full time array as it behaves
        # quiet equal as the original input
        list_data_time = [0] * len(full_time)

        for t_idx, t_val in enumerate(full_time):
            
            condition = data_quotes_event['Time'] == t_val
            
            if (np.sum(condition)):
                
                data_dict = {'Midpoint': data_quotes_event[condition].iloc[-1]['Midpoint']}

                list_data_time[t_idx] = data_dict

        data_quotes_time = pd.DataFrame(columns=['Time', 'Midpoint'])
        data_quotes_time['Midpoint'] = list_data_time
        data_quotes_time['Time'] = full_time
        
        for m_idx, m_val in enumerate(data_quotes_time['Midpoint']):
            if (not m_val):
                data_quotes_time['Midpoint'][m_idx] = data_quotes_time['Midpoint'][m_idx - 1]

        return data_quotes_time

    except FileNotFoundError as e:
        print('No data')
        print(e)
        print()
        return None

In [9]:
%%timeit
taq_midpoint_time_data_numpy(ticker, date)

17.9 s ± 81.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [10]:
#%%timeit
taq_midpoint_time_data_pandas(ticker, date)

/home/tp/jchenaol/.pyenv/versions/3.6.5/lib/python3.6/site-packages/ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

        Time                 Midpoint
0      34800  {'Midpoint': 1989850.0}
1      34801  {'Midpoint': 1989600.0}
2      34802  {'Midpoint': 1990400.0}
3      34803  {'Midpoint': 1990650.0}
4      34804  {'Midpoint': 1990700.0}
5      34805  {'Midpoint': 1991150.0}
6      34806  {'Midpoint': 1990050.0}
7      34807  {'Midpoint': 1989900.0}
8      34808  {'Midpoint': 1989900.0}
9      34809  {'Midpoint': 1989900.0}
10     34810  {'Midpoint': 1990500.0}
11     34811  {'Midpoint': 1989950.0}
12     34812  {'Midpoint': 1990100.0}
13     34813  {'Midpoint': 1990450.0}
14     34814  {'Midpoint': 1990450.0}
15     34815  {'Midpoint': 1990050.0}
16     34816  {'Midpoint': 1990150.0}
17     34817  {'Midpoint': 1989850.0}
18     34818  {'Midpoint': 1990500.0}
19     34819  {'Midpoint': 1990600.0}
20     34820  {'Midpoint': 1991250.0}
21     34821  {'Midpoint': 1991300.0}
22     34822  {'Midpoint': 1991900.0}
23     34823  {'Midpoint': 1992700.0}
24     34824  {'Midpoint': 1992800.0}
25     34825  {'Midpoint': 1993150.0}
26     34826  {'Midpoint': 1993350.0}
27     34827  {'Midpoint': 1993650.0}
28     34828  {'Midpoint': 1993750.0}
29     34829  {'Midpoint': 1993750.0}
...      ...                      ...
22170  56970  {'Midpoint': 1946750.0}
22171  56971  {'Midpoint': 1946850.0}
22172  56972  {'Midpoint': 1946750.0}
22173  56973  {'Midpoint': 1946550.0}
22174  56974  {'Midpoint': 1946500.0}
22175  56975  {'Midpoint': 1946450.0}
22176  56976  {'Midpoint': 1946550.0}
22177  56977  {'Midpoint': 1946550.0}
22178  56978  {'Midpoint': 1946450.0}
22179  56979  {'Midpoint': 1946850.0}
22180  56980  {'Midpoint': 1947050.0}
22181  56981  {'Midpoint': 1947150.0}
22182  56982  {'Midpoint': 1947050.0}
22183  56983  {'Midpoint': 1947150.0}
22184  56984  {'Midpoint': 1947250.0}
22185  56985  {'Midpoint': 1947550.0}
22186  56986  {'Midpoint': 1947350.0}
22187  56987  {'Midpoint': 1947600.0}
22188  56988  {'Midpoint': 1947650.0}
22189  56989  {'Midpoint': 1947650.0}
22190  56990  {'Midpoint': 1947550.0}
22191  56991  {'Midpoint': 1947550.0}
22192  56992  {'Midpoint': 1947400.0}
22193  56993  {'Midpoint': 1947650.0}
22194  56994  {'Midpoint': 1948000.0}
22195  56995  {'Midpoint': 1947850.0}
22196  56996  {'Midpoint': 1947850.0}
22197  56997  {'Midpoint': 1947850.0}
22198  56998  {'Midpoint': 1947950.0}
22199  56999  {'Midpoint': 1947750.0}

[22200 rows x 2 columns]